*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif; 

}

header li{
    list-style: none;
}

header a{
    color: #222222;
    text-decoration: none;
}

h2{
    width: fit-content;
}

main h2::before{
    content: "";
    background-color: #000;
    position: absolute;
    width: 75%;
    height: 3px;
    bottom: 0;
}

main h2::after{
    content: "";
    background-color: #d19c1f;
    position: absolute;
    width: 20%;
    height: 3px;
    right: 0;
    bottom: 0;
}

#dont-apply-lines::before{
    height: 0;;
}

#dont-apply-lines::after{
    height: 0;;
}

/*  ---------------------- Sub Nav Section -----------------------   */

.contact-info{
    display: flex;
    margin: 0;
    padding: 0;
}

.contact-info a{
    text-decoration: none;
    padding-right: 36px;
}

.contact-info a:hover{
    text-decoration: underline;
    color: #d19c1f;
}

.social-links{
    display: flex;
    box-sizing: border-box;
    justify-content: end;
    gap: 5px;
}



/*  ---------------------- Nav Section -----------------------   */

#mobile-burger-nav{
    display: none;
}

nav{
    padding: 10px 0;
    border-top: 1px solid rgba(34, 34, 34, 0.13);
    border-bottom: 1px solid rgba(34, 34, 34, 0.13);

}

nav .container .row{
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;

    
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: end;
    gap: 54px;
}

nav a:hover{
    border-bottom: 4px solid #d19c1f;
    /* position:static; */
    padding-bottom: 26px;
}

#client-login{
    background-color: #d19c1f;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
}

#client-login:hover{
    background-color: #4d8695;
    border-bottom: none;
}

#product-hover-menu{
    padding: 0;
    display: none;
    gap: 0;
    position: absolute;
    flex-direction: column;
}

#products-hover:hover #product-hover-menu{
    display: block;
}

#product-hover-menu li:hover{
    background-color: #d19c1f;
    padding-bottom: 0;
    color: white;
}

#product-hover-menu a:hover{
    color: white !important;
    border-bottom: none !important;
    padding: 0;
}

#product-hover-menu li{
    width: 100%;
    display: block;
    padding: 8px 20px;
    background-color: #E7E7E7;


}


#mobile-nav{
    display: none;
}

/*  ---------------------- Intro Slide Section -----------------------   */

.slide-section{
    display: flex;
    overflow: hidden;
}

.intro-single-slide{
    display: flex !important;
    align-items: center;
    box-sizing: border-box;

    max-width: 1090px !important;
    min-height: 450px;
}

    .left-slide-content{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 30px;
}

.left-slide-content ul{

    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.slide-links a{
    padding: 15px 30px;
    font-family: 'Myriad Pro Regular';
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid black;
}

#slide-link-dark{
    background-color: black;
    color: white;
}

#slide-link-light{
    color: black;

}

.slide-links a:hover{
    color: white !important;
    background-color: #d19c1f !important;
    border: 1px solid transparent !important;
    position: static;

}



/*  ---------------------- Slick Section -----------------------   */

.slick-dots{
    display: block !important;
    left: 9% !important;
    text-align: left !important;
}



/*  ---------------------- Vision Section -----------------------   */

.vision-cards{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.vision-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    text-align: center;
    width: 25% !important;
    max-width: 218px !important;
    margin: 0 2% 5%;
    margin-bottom: 5%;
}

.vision-card img{
    width: 60px;
    height: 60px;
}

.vision-card img:hover{
    filter: invert(59%) sepia(62%) saturate(530%) hue-rotate(4deg) brightness(100%) contrast(95%);
}



/*  ---------------------- Vision Section -----------------------   */

.products-section{
    padding-bottom: 104px;
}

.products-section h2{
    margin-bottom: 32px;
}

.products-cards{
    display: flex;
    text-align: center;
}

.products-card{
    width: 33%;
    margin: 0 12px;
    background-color: #F3F5F7 !important;
    position: relative;
}

.products-card:hover{
    background-color: #d19c1f !important;
    color: white;
}

.products-card img{
    border-bottom: 5px solid #d19c1f;
}

.products-card a img{
    width: 26px;
    height: 26px;
    border-bottom: 0;
}

.products-card a{
    cursor: pointer;
}

.products-card:hover #product-img-hover{
    filter: invert();
}

.products-card:hover a{
    color: white;
}

.products-card a:hover{
    text-decoration: underline !important;
}



/*  ---------------------- Qoute Section -----------------------   */

.get-qoute-section{
    background-color: #4d8695;
    padding: 50px 0;
    color: white;
}

.get-qoute-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.get-qoute-section h2{
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.43);
}

#get-qoute-btn-sub-section a{
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid white;
    text-decoration: none;
    font-family: 'Myriad Pro Regular';
    font-size: 18px;
    
}

#get-qoute-btn-sub-section a:hover{
    color: #4d8695;
    background-color: white;
}



/*  ---------------------- Tweets Section -----------------------   */

.tweets-section{
    background-image: url('https://www.equitec.in/images/tweet-by-ali-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.tweets-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}



/*  ---------------------- About Us Section -----------------------   */

.about-us-section{
    background-image: url('https://www.equitec.in/images/about-us-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}


.about-us-body-desktop{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1220px !important;
}

.about-us-title{
    display: flex;
    justify-content: center;
}

.about-us-body-desktop .col-md-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 3% 0;

}

.about-us-btn a{
    /* top: 0; */
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    font-family: 'Myriad Pro Regular';
    font-size: 18px;
}

.about-us-btn a:hover{
    background-color: #d19c1f;
}

.about-members-desktop{
    display: flex;
}

.about-us-body-mobile{
    display: none;
}



/*  ---------------------- Our Clients Section -----------------------   */

.our-clients-section{
    padding: 100px 0 50px;
}

.our-clients-locations{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-clients-locations ul{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: end;
    gap: 18px;
    color: #808080;
}

.our-clients-locations ul li{
    cursor: pointer;
}

.active-title-clients-option{
    color: #d19c1f;
}


.our-clients-logos-container{
    /* display: b; */
    max-width: 1302px;
    overflow: hidden;
    padding: 0 !important;
}

.our-clients-logos-group{
    display: flex;
    align-items: center;
}

.our-clients-logos-group img{
    filter: grayscale(1);
}

.our-clients-logos-group img:hover{
    filter: grayscale(0);
}

.our-clientele-section-logo{
    width: 256px !important;
}

.our-clientele-section-logo img{
    max-width: 100%;
    height: auto;
    margin: auto !important;
}

.our-clients-logos-container .slick-track{
    display: flex !important;
    align-items: center;
}

.hidden-clients {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}



/*  ---------------------- Footer Section -----------------------   */

footer{
    background-color: #f3f5f7;

}

.footer-quick-links-address{
    padding: 24px 0 10px 0;
    margin-top: 50px;
    max-width: 1220px !important;
}

.footer-logo{
    margin-bottom: 37px;
}

#footer-logo-img{
    padding-top: 33px;
    filter: grayscale(1);
    opacity: 0.5;
}

.footer-cards{
    font-size: 14px;
    align-items: start;
    
}

.footer-cards ul{
    list-style: none;
}

.footer-cards li{
    font-family:'Open Sans', sans-serif;
    margin-bottom: 12px;
}

.footer-cards a{
    font-family:'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
}

.footer-cards a:hover{
    color: #d19c1f;
    text-decoration: underline;
}

.footer-cards h2{
    font-size: 20px;
    margin-bottom: 8px;
}

.footer-copyright{
    padding: 24px 12px;
    border-top: 1px solid #dcdee0;
}

.footer-copyright p{
    font-size: 13px;
    font-family:'Open Sans', sans-serif;
    color: #212529;
}



/*  ---------------------- Scroll Up Section -----------------------   */

#scroll-up{
    position: fixed;
    right: 0;
    bottom: 10%;
    margin-right: 5%;
}

#scroll-up img{
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}



@media screen and (max-width: 800px) {

    h1, h2, h3{
        padding: 5px 0;
    }
/*  ---------------------- Mobile Nav Section -----------------------   */

    .navbar .col-md-3{
        text-align: center;
    }
    .sub-nav{
        display: none;
    }

    nav{
        flex-direction: column;
        padding: 0;
    }

    nav ul{
        flex-direction: column;
        gap: 30px;
        padding: 0;
        text-align: center;
    }

    nav li{
        display: contents;
    }

    nav img{
        width: 169px !important;
        height: auto;
    }


/*  ---------------------- Mobile Nav Bar Section -----------------------   */

    *{
        overflow-x: hidden;
    }
    nav ul{
        display: none;
    }

    #mobile-nav{
        display: flex;
        justify-content: space-around;
        padding: 20px 24px;
        border-top: 1px solid rgba(34, 34, 34, 0.13);
        border-bottom: 1px solid rgba(34, 34, 34, 0.13);
        margin: 20px 0;
    }

    #mobile-nav div{
        width: max-content !important;
        overflow-x:visible !important;
    }

    #client-login{
        text-decoration: none;
        font-size: 18px;
        padding: 6px 30px;
    }

    #mobile-nav img{
        width: 19px !important;
        height: 19px;
    }

    #burger-menu-icon img{
        width: 20px !important;
        height: 20px !important;
        
    }



/*  ---------------------- Mobile Intro Slides Section -----------------------   */

    .intro-single-slide{
        flex-direction: column;
        text-align: center;

    }

    .slide-links{
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .slide-links a{
        margin-bottom: 5%;
    }

    .left-slide-content{
        align-items: center;
        margin-bottom: 5%;
    }

    .intro-single-slide img{
        width: 100%;
        height: auto;
    }



/*  ---------------------- Mobile Nav Screen Section -----------------------   */

    .navbar img{
        text-align: center;
    }
    #mobile-burger-nav{
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        position: fixed;
        text-align: center;
        width: 100%;
        height: 100%;
        display: none;
    }

    #mobile-burger-nav:first-child, #mobile-burger-nav:nth-child(2){
        width: 20% !important;
    }

    #mobile-burger-nav-content{
        display: flex;
        overflow: hidden;
        margin: 0 auto !important;
        flex-direction:  column;
        text-align: center;
        list-style: none;
        
    }

    #mobile-burger-nav-content img{
        max-width: 40% !important;
        height: auto;
        margin: 0 auto 10%;
        
        
    }

    #mobile-burger-nav-content ul{
        list-style-type: none;
        color: #d19c1f;
        padding: 0;
        font-size: 19px;
        font-family: serif;
    }

    #mobile-burger-nav-content li{
        padding-top: 10px;
    }

    #mobile-burger-nav-content a{
        color: #d19c1f;
        text-decoration: none;
    }

    .mobile-burger-nav-header{
        padding: 10px 10px 0 0 !important;
        
        text-align: right;
        
    }



/*  ---------------------- Mobile Scroll Up Section -----------------------   */

    #scroll-up{
    width: fit-content !important;
    margin-right: 10% !important;
    }



/*  ---------------------- Mobile Products Section -----------------------   */

    .products-section h2{
        margin: 8% auto;
    }
    .products-cards{
        flex-direction: column;
    }

    .products-card{
        width: 100%;
        margin-bottom: 5%;
    }



/*  ---------------------- Mobile Qoutation Section -----------------------   */

    .get-qoute-body{
        flex-direction: column;
        text-align: center;
    }

    #get-qout-text-sub-section{
        margin: 27px;
        justify-content: center;
        align-items: center;
    }

    #get-qout-text-sub-section h2{
        font-size: 27.94px;
    }

    #get-qoute-btn-sub-section{
        padding: 20px;
        height: auto;
        box-sizing: border-box;

    }


/*  ---------------------- Mobile About Us Section -----------------------   */

    .about-us-body-desktop{
        display: none;
    }

    .about-us-body-mobile{
        display: block;
        padding: 100px 0;
    }

    .about-members-mobile .about-us-member{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


/*  ---------------------- Mobile Tweets Section -----------------------   */

    .tweets-body{
        flex-direction: column;
        align-items: center;
    }

    .tweets-title-section{
        display: flex;

        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }

    .twitter-container{
        max-width: 100%;
        height: auto;
    }



/*  ---------------------- Mobile Our Clients Section -----------------------   */

    .our-clients-title h2{
        margin: 5% auto;
    }

    .our-clients-locations{
        width: 100%;
        height: auto !important;
        padding: 0;
    }

    .our-clients-locations ul li{
        width: 100%;
        height: auto !important;
    }

}