*{
    margin: 0;
    padding: 0;
}

header li{
    list-style: none;
}

header a{
    color: #222222;
    text-decoration: none;
}


/*  ---------------------- Sub Nav Section -----------------------   */

.contact-info{
    display: flex;
    margin: 0;
    padding: 0;
}

.contact-info a{
    text-decoration: none;
    padding-right: 36px;
}

.contact-info a:hover{
    text-decoration: underline;
    color: #d19c1f;
}

.social-links{
    display: flex;
    box-sizing: border-box;
    justify-content: end;
    gap: 5px;
}



/*  ---------------------- Nav Section -----------------------   */

nav{
    padding: 10px 0;
    border-top: 1px solid rgba(34, 34, 34, 0.13);
    border-bottom: 1px solid rgba(34, 34, 34, 0.13);

}

nav .container .row{
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;

    
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: end;
    gap: 54px;
}

nav a:hover{
    border-bottom: 4px solid #d19c1f;
    /* position:static; */
    padding-bottom: 26px;
}

#client-login{
    background-color: #d19c1f;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
}

#client-login:hover{
    background-color: #4d8695;
    border-bottom: none;
}

/*  ---------------------- Intro Slide Section -----------------------   */

.slide-section{
    display: flex;
    overflow: hidden;
}

.intro-single-slide{
    display: flex !important;
    align-items: center;
    box-sizing: border-box;

    max-width: 1090px !important;
    min-height: 450px;
}

    .left-slide-content{

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 30px;
}

.left-slide-content ul{

    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.slide-links a{
    padding: 15px 30px;
    font-family: 'Myriad Pro Regular';
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid black;
}

#slide-link-dark{
    background-color: black;
    color: white;
}

#slide-link-light{
    color: black;

}

.slide-links a:hover{
    color: white !important;
    background-color: #d19c1f !important;
    border: 1px solid transparent !important;
    position: static;

}



/*  ---------------------- Slick Section -----------------------   */

.slick-dots{
    display: block !important;
    left: 9% !important;
    text-align: left !important;
}



/*  ---------------------- Vision Section -----------------------   */

.vision-cards{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.vision-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    text-align: center;
    width: 25% !important;
    max-width: 218px !important;
    margin: 0 2% 5%;
    margin-bottom: 5%;
}

.vision-card img{
    width: 60px;
    height: 60px;
}

.vision-card img:hover{
    filter: invert(59%) sepia(62%) saturate(530%) hue-rotate(4deg) brightness(100%) contrast(95%);
}



/*  ---------------------- Vision Section -----------------------   */

.products-cards{
    display: flex;
    text-align: center;
}

.products-card{
    width: 33%;
    margin: 0 12px;
    background-color: #F3F5F7 !important;
    position: relative;
}

.products-card:hover{
    background-color: #d19c1f !important;
    color: white;
}

.products-card img{
    border-bottom: 5px solid #d19c1f;
}

.products-card a img{
    width: 26px;
    height: 26px;
    border-bottom: 0;
}

.products-card a{
    cursor: pointer;
}

.products-card:hover #product-img-hover{
    filter: invert();
}

.products-card:hover a{
    color: white;
}

.products-card a:hover{
    text-decoration: underline !important;
}



/*  ---------------------- Qoute Section -----------------------   */

.get-qoute-section{
    background-color: #4d8695;
    padding: 50px 0;
    color: white;
}

.get-qoute-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.get-qoute-section h2{
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.43);
}

#get-qoute-btn-sub-section a{
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid white;
    text-decoration: none;
    font-family: 'Myriad Pro Regular';
    font-size: 18px;
    
}

#get-qoute-btn-sub-section a:hover{
    color: #4d8695;
    background-color: white;
}



/*  ---------------------- Tweets Section -----------------------   */

.tweets-section{
    background-image: url('https://www.equitec.in/images/tweet-by-ali-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.tweets-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}



/*  ---------------------- About Us Section -----------------------   */

.about-us-section{
    background-image: url('https://www.equitec.in/images/about-us-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}


.about-us-body{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1220px !important;
}

.about-us-body .col-md-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 3% 0;

}

.about-us-btn a{
    /* top: 0; */
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    font-family: 'Myriad Pro Regular';
    font-size: 18px;
}

.about-us-btn a:hover{
    background-color: #d19c1f;
}


/*  ---------------------- Our Clients Section -----------------------   */

.our-clients-section{
    padding: 100px 0 50px;
}

.our-clients-locations{
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-clients-locations ul{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: end;
    gap: 18px;
    color: #808080;
}

.our-clients-locations ul li{
    cursor: pointer;
}

.active-title-clients-option{
    color: #d19c1f;
}


.our-clients-logos-container{
    /* display: b; */
    max-width: 1302px;
    overflow: hidden;
    padding: 0 !important;
}

.our-clients-logos-group{
    display: flex;
    align-items: center;
}

.our-clients-logos-group img{
    filter: grayscale(1);
}

.our-clients-logos-group img:hover{
    filter: grayscale(0);
}

.our-clientele-section-logo{
    width: 256px !important;
}

.our-clientele-section-logo img{
    max-width: 100%;
    height: auto;
    margin: auto !important;
}

.our-clients-logos-container .slick-track{
    display: flex !important;
    align-items: center;
}

.hidden-clients {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}


footer{
    background-color: #f3f5f7;

}